<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberooms <%= userHeader %> Sign up</title>
</head>

<body>
    <h1><a href="/">Liberooms</a></h1>
    <h2><a href="/<%= userType %>"><%= userHeader %></a> Sign up</h2>
    <div>
        <form action="/<%= userType %>/signup" method="post">
            <div>
                <label for="FirstName">First Name:</label>
                <input type="text" name="firstname" id="FirstName" placeholder="Enter your first name" required>
            </div>
            <div>
                <label for="LastName">Last Name:</label>
                <input type="text" name="lastname" id="LastName" placeholder="Enter your last name" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter a username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter a password" required>
            </div>
            <input type="submit" name="submit" id="submit" value="Sign up">
        </form>
       <% if (dialog.msg !== "") { %>
       <% if (dialog.hasFailed === true) { %>
       <p style="color: red;">Sign up failed: <%= dialog.msg %></p>
       <% } else {  %>
       <p style="color: green;"><%= dialog.msg %></p>
       <% } %>
       <% } %>
    </div>
</body>

</html>